<%= content_for :title do %>About<% end %>
<h3>About this Application</h3>
<p>This web application will provide a means to evaluate competencies in a number of areas for our residents in anesthesiology.</p>

